.campo-texto{
    margin: 24px 0;
}

.campo-texto label{
    font-size: var(--m-font);
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.campo-texto input{
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    outline-color: var(--main-color);
    font-size: var(--s-font);
    box-sizing: border-box;
}

.campo-texto input::placeholder{
    color: var(--sec-font-color);
    font-size: var(--s-font);
}